<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ClipFlow</string>
	<key>CFBundleDisplayName</key>
	<string>片巡</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>视频</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.mpeg-4</string>
				<string>public.mpeg</string>
				<string>public.avi</string>
				<string>com.apple.quicktime-movie</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>org.matroska.mkv</string>
				<string>org.webmproject.webm</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mov</string>
				<string>m4v</string>
				<string>mkv</string>
				<string>webm</string>
				<string>avi</string>
				<string>flv</string>
				<string>wmv</string>
				<string>asf</string>
				<string>mpg</string>
				<string>mpeg</string>
				<string>m2v</string>
				<string>ts</string>
				<string>m2ts</string>
				<string>mts</string>
				<string>3gp</string>
				<string>3g2</string>
				<string>ogv</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>vob</string>
				<string>divx</string>
				<string>f4v</string>
				<string>mxf</string>
				<string>y4m</string>
				<string>amv</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
